<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ecnuer996.meetHereBackend.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.ecnuer996.meetHereBackend.model.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, user_id, content, link
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ecnuer996.meetHereBackend.model.Comment" >
    insert into comment (id, type, user_id, 
      content, link)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{link,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.ecnuer996.meetHereBackend.model.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="link != null" >
        link,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ecnuer996.meetHereBackend.model.Comment" >
    update comment
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ecnuer996.meetHereBackend.model.Comment" >
    update comment
    set type = #{type,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      link = #{link,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- Personal SQL Begin -->

  <select id="getWholeComments" resultMap="BaseResultMap">
    select * from comment
    where type = '1' and link = 1
  </select>

  <select id="getVenueComments" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from comment
    where type = '2' and link = #{link,jdbcType=INTEGER}
  </select>

  <select id="getNewsComments" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from comment
    where type = '3' and link = #{link,jdbcType=INTEGER}
  </select>

  <select id="detectComment" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from comment
    where id = #{id,jdbcType=INTEGER} and link != -1
  </select>

  <update id="deleteComment" parameterType="java.lang.Integer">
    update comment set link = -link
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="discoverComments">
    update comment set link = -link
    where link &lt; 0
  </update>

  <insert id="addGlobalComment" parameterType="cn.ecnuer996.meetHereBackend.model.Comment">
    <trim prefix="insert into comment values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      #{type,jdbcType=VARCHAR},
      #{userId,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR},
      #{link,jdbcType=INTEGER}
    </trim>
  </insert>

  <select id="getNextId" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*) from comment
    where type = #{type,jdbcType=VARCHAR}
  </select>

  <update id="modifyUserComment" parameterType="cn.ecnuer996.meetHereBackend.model.Comment">
    update comment
    set content = #{content,jdbcType=VARCHAR}
    where id = #{commentId,jdbcType=INTEGER} and user_id = #{commentId,jdbcType=VARCHAR}
  </update>

  <!-- Personal SQL Finish -->

</mapper>