<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ecnuer996.meetHereBackend.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="cn.ecnuer996.meetHereBackend.model.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="reply" jdbcType="VARCHAR" property="reply" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, news_id, content, state, manager_id, reply
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ecnuer996.meetHereBackend.model.Message">
    insert into message (id, user_id, news_id, 
      content, state, manager_id, 
      reply)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{newsId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER}, 
      #{reply,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ecnuer996.meetHereBackend.model.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="newsId != null">
        news_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="reply != null">
        reply,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="newsId != null">
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="reply != null">
        #{reply,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ecnuer996.meetHereBackend.model.Message">
    update message
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="newsId != null">
        news_id = #{newsId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="reply != null">
        reply = #{reply,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ecnuer996.meetHereBackend.model.Message">
    update message
    set user_id = #{userId,jdbcType=INTEGER},
      news_id = #{newsId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      manager_id = #{managerId,jdbcType=INTEGER},
      reply = #{reply,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>